OrderManagementSystem/Service References/QuickfixProcessorService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:37468/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:37468/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuickfixProcessorService_InitiatorStart_InputMessage">
    <wsdl:part name="parameters" element="tns:InitiatorStart" />
  </wsdl:message>
  <wsdl:message name="IQuickfixProcessorService_InitiatorStart_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitiatorStartResponse" />
  </wsdl:message>
  <wsdl:message name="IQuickfixProcessorService_Init_InputMessage">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="IQuickfixProcessorService_Init_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="IQuickfixProcessorService_InitiatorStop_InputMessage">
    <wsdl:part name="parameters" element="tns:InitiatorStop" />
  </wsdl:message>
  <wsdl:message name="IQuickfixProcessorService_InitiatorStop_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitiatorStopResponse" />
  </wsdl:message>
  <wsdl:message name="IQuickfixProcessorService_isInitiatorStopped_InputMessage">
    <wsdl:part name="parameters" element="tns:isInitiatorStopped" />
  </wsdl:message>
  <wsdl:message name="IQuickfixProcessorService_isInitiatorStopped_OutputMessage">
    <wsdl:part name="parameters" element="tns:isInitiatorStoppedResponse" />
  </wsdl:message>
  <wsdl:message name="IQuickfixProcessorService_isInitiatorLoggedOn_InputMessage">
    <wsdl:part name="parameters" element="tns:isInitiatorLoggedOn" />
  </wsdl:message>
  <wsdl:message name="IQuickfixProcessorService_isInitiatorLoggedOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:isInitiatorLoggedOnResponse" />
  </wsdl:message>
  <wsdl:message name="IQuickfixProcessorService_TestTCR_InputMessage">
    <wsdl:part name="parameters" element="tns:TestTCR" />
  </wsdl:message>
  <wsdl:message name="IQuickfixProcessorService_TestTCR_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestTCRResponse" />
  </wsdl:message>
  <wsdl:message name="IQuickfixProcessorService_TestER_InputMessage">
    <wsdl:part name="parameters" element="tns:TestER" />
  </wsdl:message>
  <wsdl:message name="IQuickfixProcessorService_TestER_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestERResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuickfixProcessorService">
    <wsdl:operation name="InitiatorStart">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuickfixProcessorService/InitiatorStart" message="tns:IQuickfixProcessorService_InitiatorStart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuickfixProcessorService/InitiatorStartResponse" message="tns:IQuickfixProcessorService_InitiatorStart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Init">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuickfixProcessorService/Init" message="tns:IQuickfixProcessorService_Init_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuickfixProcessorService/InitResponse" message="tns:IQuickfixProcessorService_Init_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitiatorStop">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuickfixProcessorService/InitiatorStop" message="tns:IQuickfixProcessorService_InitiatorStop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuickfixProcessorService/InitiatorStopResponse" message="tns:IQuickfixProcessorService_InitiatorStop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isInitiatorStopped">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuickfixProcessorService/isInitiatorStopped" message="tns:IQuickfixProcessorService_isInitiatorStopped_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuickfixProcessorService/isInitiatorStoppedResponse" message="tns:IQuickfixProcessorService_isInitiatorStopped_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isInitiatorLoggedOn">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuickfixProcessorService/isInitiatorLoggedOn" message="tns:IQuickfixProcessorService_isInitiatorLoggedOn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuickfixProcessorService/isInitiatorLoggedOnResponse" message="tns:IQuickfixProcessorService_isInitiatorLoggedOn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestTCR">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuickfixProcessorService/TestTCR" message="tns:IQuickfixProcessorService_TestTCR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuickfixProcessorService/TestTCRResponse" message="tns:IQuickfixProcessorService_TestTCR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestER">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuickfixProcessorService/TestER" message="tns:IQuickfixProcessorService_TestER_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuickfixProcessorService/TestERResponse" message="tns:IQuickfixProcessorService_TestER_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQuickfixProcessorService" type="tns:IQuickfixProcessorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitiatorStart">
      <soap:operation soapAction="http://tempuri.org/IQuickfixProcessorService/InitiatorStart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Init">
      <soap:operation soapAction="http://tempuri.org/IQuickfixProcessorService/Init" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitiatorStop">
      <soap:operation soapAction="http://tempuri.org/IQuickfixProcessorService/InitiatorStop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isInitiatorStopped">
      <soap:operation soapAction="http://tempuri.org/IQuickfixProcessorService/isInitiatorStopped" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isInitiatorLoggedOn">
      <soap:operation soapAction="http://tempuri.org/IQuickfixProcessorService/isInitiatorLoggedOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestTCR">
      <soap:operation soapAction="http://tempuri.org/IQuickfixProcessorService/TestTCR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestER">
      <soap:operation soapAction="http://tempuri.org/IQuickfixProcessorService/TestER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IQuickfixProcessorService" binding="tns:BasicHttpBinding_IQuickfixProcessorService">
      <soap:address location="http://localhost:37468/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>